<%- include('partials/head') %> <%- include('partials/navbar') %>
<h1>The home page <%= 4+5+1 %></h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fuga voluptatem
  quam veritatis laudantium error vitae suscipit, nulla eos quis soluta tempora
  distinctio illo! Minus fugiat ea id perferendis fuga
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ab fuga cum rem
  nisi necessitatibus magni tempore quas sint assumenda obcaecati, iste
  blanditiis, veritatis quod mollitia vitae ullam provident? Inventore!
</p>
<%- include('partials/footer') %>
